<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tech Blog</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Orbitron&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="css/stylesheet.css">
</head>

<body>
  <header>
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    <h1 class="text-center">
      Tech Talk
    </h1>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">Dashboard</a>
      </li>
      {{#if logged_in}}
      <li class="nav-item">
        <a class="nav-link" href="/logout" id="logout">Log Out</a>
      </li>
      {{else}}
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      {{/if}}
    </ul>

  </header>

  <main class="container">
    {{{ body }}}
  </main>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  {{#if logged_in}}
  <script src="js/logout.js"></script>
  {{else}}
  <script src="js/login.js"></script>
  {{/if}}
</body>

</html>